<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selftry.firsttry.mapper.AccountMapper">
    <resultMap id="baseResultMap" type="com.selftry.firsttry.entity.Account">
        <id column="userId" property="userId" javaType="int" jdbcType="INTEGER"/>
        <result column="password" property="password" javaType="String" jdbcType="VARCHAR"/>
        <result column="username" property="username" javaType="String" jdbcType="VARCHAR"/>
        <result column="role" property="role" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumnList">
        userId, username, password, role
    </sql>

    <select id="findAccountByUsername" parameterType="String" resultMap="baseResultMap">
        select
        <include refid="baseColumnList"/>
        from account where
        username = #{username, jdbcType=VARCHAR}
    </select>
</mapper>